div{
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75);
}
*[container]{
	padding: 10px;
}
*[box]{
	height: 80px;
	width: 80px;
}
.box1{
	background: #000000;
}
.box2{
	background: #330800;
}
.box3{
	background: #661000;
}
.box4{
	background: #991700;
}
.box5{
	background: #cc1f00 ;
}
.box6{
	background: #ff2700 ;
}
.box7{
	background: #ff5233 ;
}
.box8{
	background: #ff684d ;
}
.box9{
	background: #ff9380 ;
}
.box10{
	background: #ffbeb3 ;
}
.box11{
	background: #ffe9e5 ;
}

.box12{
	background: #fff ;
}


/*APPLIED ONLY TO CONTAINER*/
*[container] {
	display: flex;
}

/*flex-direction*/
*[row] {
	flex-direction: row;
}

*[row-reverse] {
	flex-direction: row-reverse;
}

*[column] {
	flex-direction: column;
}

*[column-reverse] {
	flex-direction: column-reverse;
}
/*flex wrap*/
*[nowrap]{
	flex-wrap: nowrap;
}
